.stagger-item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  pointer-events: none;
}

.stagger-item.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* 🔑 libera o clique */
}


.stagger-left {
transform: translateX(-40px);
}
.intro::before,
.intro::after {
  pointer-events: none;
}
