* {
  margin: 0;
  padding: 0;
}
body {
    background: #ffff;
  color: #222;
}
/* começo */
.full {
    background: #fafafa;
    height: 90vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
h4 {
    border-bottom: gold solid;
    display: inline-flex;
}
a.btn {
    background-color: gold;
    border-radius: 100px;
}
.ideal .card-t{
    border: #666;
}

footer.footer {
    background-color: #141411;
    color: white;
}


/* Portfólio */

.portfolio {
    max-width: 1100px;
    padding: 48px !important;
    padding: 0 20px;
    background: #fafafa;
}

.portfolio h1 {
  text-align: center;
  font-size: 32px;
}

.subtitle {
  text-align: center;
  color: #666;
  margin: 10px 0 40px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 22px;
}

/* CARD */
.portfolio .card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transform: scale(0.95);
  opacity: 0;
  animation: fadeIn 0.6s forwards;
}

.portfolio .card img {
  width: 100%;
  display: block;
}
.portfolio .card::after {
  content: "Ver projeto";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  font-size: 18px;
}
.card:hover::after {
  opacity: 1;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.modal-content {
  background: #fff;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}
.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 26px;
  cursor: pointer;
}
.modal h2 {
  margin-bottom: 20px;
}
.modal p, ul {
  margin-bottom: 14px;
  line-height: 1.6;
}
ul {
  padding-left: 20px;
}
.links {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
.links a {
  background: #000;
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 500px) {
    h1 {
        padding: 30px 0px 1px;
    }
}